/* UzoOfferCard.module.css */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounceIn {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.cardContainer {
  max-width: 1270px;
  margin: 40px auto;
  background: #fffef7;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
  padding: 40px 20px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  animation: fadeIn 0.8s ease-in-out;
}

.headline {
  max-width: 1200px;
  margin: 40px auto;
  font-size: 1.8rem;
  margin-bottom: 40px;
  color: #2c2c2c;
  animation: fadeIn 1s ease forwards;
}

.highlight {
  color: green;
  font-weight: 600;
}

.slogans {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.slogan {
  font-size: 3rem;
  color: #008443;
  margin: 20px;
  animation: bounceIn 0.6s ease-in-out;
}

.logo {
  margin-top: 30px;
}

.logoImage {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.logoImage:hover {
  transform: scale(1.1);
}

.tsc {
  font-size: 10px;
  color: #444;
  text-align: left;
  margin-top: 20px;
  margin-left: 20px;
}
